<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cellClass</key>
			<string>DuoTwitterCell</string>
			<key>firstLabel</key>
			<string>MrGcGamer</string>
			<key>firstAccount</key>
			<string>MrGcGamer</string>
			<key>secondLabel</key>
			<string>Falcon</string>
			<key>secondAccount</key>
			<string>Falc0nDev</string>
			<key>height</key>
			<real>57</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.falcon.centralprefs</string>
			<key>key</key>
			<string>tweakEnabled</string>
			<key>label</key>
			<string>Tweak Enabled</string>
			<key>PostNotification</key>
			<string>com.falcon.centralprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.falcon.centralprefs</string>
			<key>key</key>
			<string>changeFolderLayout</string>
			<key>label</key>
			<string>Change Folder Layout</string>
			<key>PostNotification</key>
			<string>com.falcon.centralprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.falcon.centralprefs</string>
			<key>key</key>
			<string>changeLibraryLayout</string>
			<key>label</key>
			<string>Change App Library Layout</string>
			<key>PostNotification</key>
			<string>com.falcon.centralprefs/Prefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>Central</string>
</dict>
</plist>
